{{> navbar}}

<section class="columns">
  <div class="column">
    <div class="login-form__container">
      <img class="login-logo" src="/images/price-tag_512px.png" alt="Logo em forma de etiqueta de preços">
      <h1 class="login-title">Price Looker <span class="tag is-warning">beta</span></h1>
      <h3 class="login-highline">A melhor maneira de acompanhar os preços dos seus dos produtos que você mais deseja.</h3>
      <form action="">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input is-medium" type="text" placeholder="Email">
          </p>
          <p class="control">
            <a class="button is-medium is-info">
              Login
            </a>
          </p>
        </div>
      </form>
      <hr>
      <button class="button is-info is-outlined is-fullwidth">Cadastro</button>
    </div>
  </div>
  <div class="column">
    {{> banner}}
  </div>
</section>

<script src="/js/main.js"></script>